# Configuración del Servidor
PORT=8080
NODE_ENV=development

# Autenticación y Seguridad (¡Reemplazar con credenciales seguras en producción!)
JWT_SECRET=tu_super_secreto_jwt_aqui_no_lo_compartas
JWT_EXPIRES=1h

# Encriptación
SALT_ROUNDS=4

# Configuración de Base de Datos (Valores por defecto orientados a XAMPP local)
# Asegúrate de que la base de datos coincida con la que creaste en tu entorno local
MYSQL_CONNECTION_STRING=mysql://root:@localhost:3306/clinica_angel_dev
MYSQL_DATABASE_HOST=localhost
MYSQL_DATABASE_USER=root
# Dejar vacío si usas la configuración por defecto de XAMPP, caso contrario ingresar contraseña
MYSQL_DATABASE_PASSWORD=
MYSQL_DATABASE_NAME=clinica_angel_dev
MYSQL_DATABASE_CONNECTION_LIMIT=4

# Logging y Zona Horaria
LOG_LEVEL=info
TZ=UTC