<!-- Navbar -->
<div class="navbar bg-base-300 w-full">
  <div class="flex-none lg:hidden">
    <label for="my-drawer-2" aria-label="open sidebar" class="btn btn-square btn-ghost">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-6 w-6 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>
    </label>
  </div>



  <!-- Links Section (Right side) -->
  <div class="hidden flex-1 lg:block">
    <ul class="menu menu-horizontal justify-end">
      {% for link in links %}
        {% if link.title %}
          <li>
            <div class="dropdown dropdown-center p-0">
              <div tabindex="0" role="button" class="btn btn-ghost rounded-field">
                <i data-lucide="user-circle"></i>
                {{ link.title }}
              </div>
              <ul
                tabindex="-1"
                class="menu dropdown-content bg-base-200 rounded-box z-1 w-52 p-2 shadow-sm">
                {% for link in link.links %}
                  <li>
                    <a href="{{ link.url }}">
                      <i data-lucide="{{ link.icon }}"></i>
                      {{ link.displayName }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </li>
        {% else %}
          <li>
            <a href="{{ link.url }}">
              <i data-lucide="{{ link.icon }}"></i>
              {{ link.displayName }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

    <!-- Profile Actions and Theme Controller (Left side) -->
  <div class="hidden flex-none lg:flex">
    <ul class="menu menu-horizontal gap-2">
      {% if user %}
        {% include "layout/profile-actions.njk" %}
      {% else %}
        <li>
          <a href="/auth/login" class="btn btn-primary">
            <i data-lucide="log-in"></i>
            Iniciar sesión
            </a>
        </li>
      {% endif %}
      {# <li>
        {% include "partials/theme-controller.njk" %}
      </li> #}
    </ul>
  </div>
</div>