{% extends "layout/base.njk" %}

{% block content %}
  <hgroup>
    <h1 class="text-5xl font-bold text-neutral">Red de clínicas Angel</h1>
    <p>Bienvenido a la sistema de redes clínicas Angel.</p>
  </hgroup>

  <section>
    <h2 class="text-3xl font-semibold text-neutral">¿Qué es esto?</h2>
    <p>Esta es una aplicación web que permite a los usuarios registrarse y administrarse en la red de clínicas Angel.</p>
  </section>

  <section>
    <p>17 de noviembre de 2025 a las <code>11:00</code> AM</p>
  </section>
{% endblock %}