{% extends "layout/base.njk" %}

{% block head %}
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
        rel="stylesheet"
        type="text/css">
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
          type="text/javascript"></script>
{% endblock %}

{% block scripts %}
  <script type="module">
  const dataTable = new simpleDatatables.DataTable("#users-table");
  </script>
{% endblock %}

{% block content %}
  {% import "partials/page-info.njk" as PageInfo %}
  {{ PageInfo.titleAndDescription("Usuarios", "Lista de todos los usuarios registrados en el sistema.") }}

  <a href="/users/register" class="btn btn-primary mb-4">
    <i data-lucide="user-plus"></i>
    Registrar nuevo usuario
  </a>

  <div class="overflow-x-auto">
    <table id="users-table" class="table table-zebra">
      <thead>
        <tr>
          <th>Email</th>
          <th>Rol</th>
          <th>Nombre Completo</th>
          <th>DNI</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.email }}</td>
            <td>
              {% import "partials/role-badge.njk" as RoleBadge %}
              {{ RoleBadge.badge(user.role) }}
            </td>
            <td>{{ user.fullName }}</td>
            <td>{{ user.nationalId }}</td>
            <td>
              {% import "partials/user-status-badge.njk" as UserStatus %}
              {{ UserStatus.badge(user.isActive) }}
            </td>
            <td>
              {% if user.role === Roles.PROFESSIONAL %}
                <a href="/professionals/{{ user.id }}/profile" class="link link-primary">
                  Ir al perfil
                </a>                
              {% elif user.role === Roles.PATIENT %}
                <a href="/patients/{{ user.id }}" class="link link-primary">
                  Ir al perfil
                </a>
              {% else %}
                <a href="/users/{{ user.id }}" class="link link-primary">
                  Ir al perfil
                </a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
