@import "tailwindcss";

@view-transition {
  navigation: auto;
}

@plugin "daisyui" {
  themes:
    clinic-light --default,
    clinic-dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "clinic-light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(96% 0.001 286.375);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(55% 0.12 250);
  --color-primary-content: oklch(98% 0.01 250);
  --color-secondary: oklch(60% 0.118 184.704);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(54% 0.182 276.935);
  --color-accent-content: oklch(97.2% 0 0);
  --color-neutral: oklch(27% 0.006 286.033);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(70% 0.15 140);
  --color-success-content: oklch(15% 0.05 140);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(12% 0.05 86);
  --color-error: oklch(60% 0.2 25);
  --color-error-content: oklch(98% 0.01 25);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "clinic-dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0 0);
  --color-base-200: oklch(20% 0 0);
  --color-base-300: oklch(26% 0 0);
  --color-base-content: oklch(98% 0 0);
  --color-primary: oklch(60% 0.118 184.704);
  --color-primary-content: oklch(98% 0.014 180.72);
  --color-secondary: oklch(67% 0.182 276.935);
  --color-secondary-content: oklch(96% 0.018 272.314);
  --color-accent: oklch(71% 0.203 305.504);
  --color-accent-content: oklch(97% 0.014 343.198);
  --color-neutral: oklch(96% 0.001 286.375);
  --color-neutral-content: oklch(27% 0.006 286.033);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(52% 0.154 150.069);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(50% 0.213 27.518);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

.font-serif {
  font-family: "Source Serif 4", sans-serif;
}

.font-mono {
  font-family: "Source Code Pro", monospace;
}

code,
pre,
dd {
  font-family: "Source Code Pro", monospace !important;
}
