{% macro titleAndDescription(pageTitle, description) %}
  <hgroup class="my-4">
    <h1 class="text-5xl font-bold text-neutral">{{ pageTitle }}</h1>
    <p>{{ description }}</p>
  </hgroup>
{% endmacro %}