{% macro badge(role) %}
  {% if role === Roles.ADMIN %}
    <div class="badge badge-soft badge-accent">Administrador</div>
  {% endif %}

  {% if role === Roles.SECRETARY %}
    <div class="badge badge-soft badge-info">Secretaria</div>
  {% endif %}

  {% if role === Roles.PROFESSIONAL %}
    <div class="badge badge-soft badge-primary">Profesional</div>
  {% endif %}

  {% if role === Roles.PATIENT %}
    <div class="badge badge-soft badge-neutral">Paciente</div>
  {% endif %}
{% endmacro %}